:root {
  --red-50: 254 242 242;
  --red-100: 255 226 226;
  --red-200: 256 201 201;
  --red-300: 257 162 162;
  --red-400: 256 100 103;
  --red-500: 251 44 54;
  --red-600: 231 -24 11;
  --red-700: 193 -16 7;
  --red-800: 159 7 18;
  --red-900: 130 24 26;
  --red-950: 70 8 9;
  --orange-50: 255 247 237;
  --orange-100: 255 237 212;
  --orange-200: 255 214 167;
  --orange-300: 258 184 106;
  --orange-400: 258 137 4;
  --orange-500: 260 105 -42;
  --orange-600: 245 73 -39;
  --orange-700: 202 53 -25;
  --orange-800: 159 45 -1;
  --orange-900: 126 42 12;
  --orange-950: 68 19 6;
  --amber-50: 255 251 235;
  --amber-100: 254 243 198;
  --amber-200: 254 230 133;
  --amber-300: 256 210 48;
  --amber-400: 255 185 -59;
  --amber-500: 254 154 -55;
  --amber-600: 225 113 -43;
  --amber-700: 187 77 -26;
  --amber-800: 151 60 -8;
  --amber-900: 123 51 6;
  --amber-950: 70 25 1;
  --yellow-50: 254 252 232;
  --yellow-100: 254 249 194;
  --yellow-200: 255 240 133;
  --yellow-300: 256 223 32;
  --yellow-400: 253 199 -69;
  --yellow-500: 240 177 -59;
  --yellow-600: 208 135 -46;
  --yellow-700: 166 95 -27;
  --yellow-800: 137 75 -10;
  --yellow-900: 115 62 10;
  --yellow-950: 67 32 4;
  --lime-50: 247 254 231;
  --lime-100: 236 252 202;
  --lime-200: 216 249 153;
  --lime-300: 187 244 81;
  --lime-400: 154 230 -48;
  --lime-500: 124 207 -53;
  --lime-600: 94 165 -41;
  --lime-700: 73 125 -21;
  --lime-800: 60 99 -1;
  --lime-900: 53 83 14;
  --lime-950: 25 46 3;
  --green-50: 240 253 244;
  --green-100: 220 252 231;
  --green-200: 185 248 207;
  --green-300: 123 241 168;
  --green-400: 5 223 114;
  --green-500: -49 201 80;
  --green-600: -42 166 62;
  --green-700: -23 130 54;
  --green-800: 1 102 48;
  --green-900: 13 84 43;
  --green-950: 3 46 21;
  --emerald-50: 236 253 245;
  --emerald-100: 208 250 229;
  --emerald-200: 164 244 207;
  --emerald-300: 94 233 181;
  --emerald-400: -49 212 146;
  --emerald-500: -55 188 125;
  --emerald-600: -45 153 102;
  --emerald-700: -31 122 85;
  --emerald-800: -17 96 69;
  --emerald-900: -3 79 59;
  --emerald-950: -1 44 34;
  --teal-50: 240 253 250;
  --teal-100: 203 251 241;
  --teal-200: 150 247 228;
  --teal-300: 70 236 213;
  --teal-400: -56 213 190;
  --teal-500: -54 187 167;
  --teal-600: -42 150 137;
  --teal-700: -24 120 111;
  --teal-800: -7 95 90;
  --teal-900: 11 79 74;
  --teal-950: 2 47 46;
  --cyan-50: 236 254 255;
  --cyan-100: 206 250 254;
  --cyan-200: 162 244 253;
  --cyan-300: 83 234 253;
  --cyan-400: -66 211 242;
  --cyan-500: -59 184 219;
  --cyan-600: -44 146 184;
  --cyan-700: -26 117 149;
  --cyan-800: -1 95 120;
  --cyan-900: 16 78 100;
  --cyan-950: 5 51 69;
  --sky-50: 240 249 255;
  --sky-100: 223 242 254;
  --sky-200: 184 230 254;
  --sky-300: 116 212 257;
  --sky-400: -33 188 256;
  --sky-500: -52 166 244;
  --sky-600: -41 132 209;
  --sky-700: -28 105 168;
  --sky-800: -16 89 138;
  --sky-900: 2 74 112;
  --sky-950: 5 47 74;
  --blue-50: 239 246 255;
  --blue-100: 219 234 254;
  --blue-200: 190 219 255;
  --blue-300: 142 197 259;
  --blue-400: 81 162 260;
  --blue-500: 43 127 261;
  --blue-600: 21 93 252;
  --blue-700: 20 71 230;
  --blue-800: 25 60 184;
  --blue-900: 28 57 142;
  --blue-950: 22 36 86;
  --indigo-50: 238 242 255;
  --indigo-100: 224 231 255;
  --indigo-200: 198 210 256;
  --indigo-300: 163 179 259;
  --indigo-400: 124 134 259;
  --indigo-500: 97 95 257;
  --indigo-600: 79 57 246;
  --indigo-700: 67 45 215;
  --indigo-800: 55 42 172;
  --indigo-900: 49 44 133;
  --indigo-950: 30 26 77;
  --violet-50: 245 243 255;
  --violet-100: 237 233 254;
  --violet-200: 221 214 255;
  --violet-300: 196 180 258;
  --violet-400: 166 132 260;
  --violet-500: 142 81 262;
  --violet-600: 127 34 254;
  --violet-700: 112 8 231;
  --violet-800: 93 14 192;
  --violet-900: 77 23 154;
  --violet-950: 47 13 104;
  --purple-50: 250 245 255;
  --purple-100: 243 232 255;
  --purple-200: 233 212 256;
  --purple-300: 218 178 259;
  --purple-400: 194 122 262;
  --purple-500: 173 70 262;
  --purple-600: 152 16 250;
  --purple-700: 130 -7 219;
  --purple-800: 110 17 176;
  --purple-900: 89 22 139;
  --purple-950: 60 3 102;
  --fuchsia-50: 253 244 255;
  --fuchsia-100: 250 232 255;
  --fuchsia-200: 246 207 255;
  --fuchsia-300: 244 168 257;
  --fuchsia-400: 237 106 257;
  --fuchsia-500: 225 42 251;
  --fuchsia-600: 200 -28 222;
  --fuchsia-700: 168 -19 183;
  --fuchsia-800: 138 1 148;
  --fuchsia-900: 114 19 120;
  --fuchsia-950: 75 0 79;
  --pink-50: 253 242 248;
  --pink-100: 252 231 243;
  --pink-200: 252 206 232;
  --pink-300: 253 165 213;
  --pink-400: 251 100 182;
  --pink-500: 246 51 154;
  --pink-600: 230 -24 118;
  --pink-700: 198 -24 92;
  --pink-800: 163 -4 76;
  --pink-900: 134 16 67;
  --pink-950: 81 4 36;
  --rose-50: 255 241 242;
  --rose-100: 255 228 230;
  --rose-200: 255 204 211;
  --rose-300: 259 161 173;
  --rose-400: 259 99 126;
  --rose-500: 256 32 86;
  --rose-600: 236 -37 63;
  --rose-700: 199 -29 54;
  --rose-800: 165 -12 54;
  --rose-900: 139 8 54;
  --rose-950: 77 2 24;
  --slate-50: 248 250 252;
  --slate-100: 241 245 249;
  --slate-200: 226 232 240;
  --slate-300: 202 213 226;
  --slate-400: 144 161 185;
  --slate-500: 98 116 142;
  --slate-600: 69 85 108;
  --slate-700: 49 65 88;
  --slate-800: 29 41 61;
  --slate-900: 15 23 43;
  --slate-950: 2 6 24;
  --gray-50: 249 250 251;
  --gray-100: 243 244 246;
  --gray-200: 229 231 235;
  --gray-300: 209 213 220;
  --gray-400: 153 161 175;
  --gray-500: 106 114 130;
  --gray-600: 74 85 101;
  --gray-700: 54 65 83;
  --gray-800: 30 41 57;
  --gray-900: 16 24 40;
  --gray-950: 3 7 18;
  --zinc-50: 250 250 250;
  --zinc-100: 244 244 245;
  --zinc-200: 228 228 231;
  --zinc-300: 212 212 216;
  --zinc-400: 159 159 169;
  --zinc-500: 113 113 123;
  --zinc-600: 82 82 92;
  --zinc-700: 63 63 70;
  --zinc-800: 39 39 42;
  --zinc-900: 24 24 27;
  --zinc-950: 9 9 11;
  --neutral-50: 250 250 250;
  --neutral-100: 245 245 245;
  --neutral-200: 229 229 229;
  --neutral-300: 212 212 212;
  --neutral-400: 161 161 161;
  --neutral-500: 115 115 115;
  --neutral-600: 82 82 82;
  --neutral-700: 64 64 64;
  --neutral-800: 38 38 38;
  --neutral-900: 23 23 23;
  --neutral-950: 10 10 10;
  --stone-50: 250 250 249;
  --stone-100: 245 245 244;
  --stone-200: 231 229 228;
  --stone-300: 214 211 209;
  --stone-400: 166 160 155;
  --stone-500: 121 113 107;
  --stone-600: 87 83 77;
  --stone-700: 68 64 59;
  --stone-800: 41 37 36;
  --stone-900: 28 25 23;
  --stone-950: 12 10 9;
}
